@use '@/scss/utils/layers';

@include layers.component {
  p {
    font-size: var(--_consent-text-size);
    line-height: var(--_consent-text-line-height);
  }

  .title {
    font-size: var(--_consent-title-text-size);
    line-height: var(--_consent-title-text-line-height);
    padding-bottom: 12.5px;
  }

  .learn-more-container {
    margin: 20px 0 0;

    @media screen and (min-width: 640px) {
      margin: 14px 0 0;
      padding-bottom: 5px;
    }
  }

  p {
    font-size: var(--_consent-text-size);
    line-height: var(--_consent-text-line-height);
    padding-bottom: 20px;

    @media screen and (min-width: 640px) {
      padding-bottom: 5px;
    }
  }

  .actions-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    gap: 0.5rem;

    //sm
    @media screen and (min-width: 640px) {
      flex-direction: row;
      justify-content: normal;
      margin: 0;
      gap: 0;
    }
    .consent-link {
      margin-top: 0.65rem;
      margin-right: 0.25rem;
      text-decoration: underline;
      font-size: var(--_consent-text-size);
  }
  }

  .confirm-selection {
    @media screen and (min-width: 640px) {
      margin-left: 0;
    }
  }

  .update-information {
    margin-top: 20px;
  }

  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  .toggle-container {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .toggle-container.label {
    color: #0b113a;
    font-size: var(--_consent-text-size);
    line-height: var(--_consent-text-line-height);
    right: 10px;
    text-align: right;
    text-wrap: wrap;
    top: 4px;
    white-space: normal;
    width: 70px;
  }

  @media screen and (min-width: 480px) {
    .toggle-container.label {
      right: 15px;
      top: 15px;
      width: auto;
    }
  }

  .toggle-container:focus {
    box-shadow: 0 0 0 var(--toggle-ring-width, 3px) var(--toggle-ring-color, rgba(16, 185, 129, 0.188));
    outline: none;
  }

  .toggle {
    align-items: center;
    border: var(--toggle-border, 0.125rem) solid;
    border-radius: 999px;
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    font-size: var(--toggle-font-size, 0.75rem);
    height: var(--toggle-height, 1.25rem);
    line-height: 1;
    position: relative;
    transition: all 0.3s;
    width: var(--toggle-width, 3rem);
  }

  .toggle-on {
    background: var(--toggle-bg-on, #52b782);
    border-color: var(--toggle-border-on, #52b782);
    color: var(--toggle-text-on, #fff);
    justify-content: flex-start;
  }

  .toggle-off {
    background: var(--toggle-bg-off, #e5e7eb);
    border-color: var(--toggle-border-off, #e5e7eb);
    color: var(--toggle-text-off, #374151);
    justify-content: flex-end;
  }

  .toggle-on-disabled {
    background: var(--toggle-bg-on-disabled, #d1d5db);
    border-color: var(--toggle-border-on-disabled, #d1d5db);
    color: var(--toggle-text-on-disabled, #9ca3af);
    cursor: not-allowed;
    justify-content: flex-start;
  }

  .toggle-off-disabled {
    background: var(--toggle-bg-off-disabled, #e5e7eb);
    border-color: var(--toggle-border-off-disabled, #e5e7eb);
    color: var(--toggle-text-off-disabled, #9ca3af);
    cursor: not-allowed;
    justify-content: flex-end;
  }

  .toggle-handle {
    background: var(--toggle-handle-enabled, #fff);
    border-radius: 50%;
    display: inline-block;
    height: var(--toggle-height, 1.25rem);
    position: absolute;
    top: 0;
    transition-duration: var(--toggle-duration, 0.15s);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: var(--toggle-height, 1.25rem);
  }

  .toggle-handle-on {
    left: 100%;
    transform: translate(-100%);
  }

  .toggle-handle-off {
    left: 0;
  }

  .toggle-handle-on-disabled {
    background: var(--toggle-handle-disabled, #f3f4f6);
    left: 100%;
    transform: translate(-100%);
  }

  .toggle-handle-off-disabled {
    background: var(--toggle-handle-disabled, #f3f4f6);
    left: 0;
  }

  .toggle-label {
    box-sizing: border-box;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: calc(var(--toggle-width, 3.25rem) - var(--toggle-height, 1.25rem));
  }
}

@include layers.component {
  sp-switch {
    --mod-switch-height: 40px;
    --highcontrast-switch-background-color: silver;
    --mod-switch-control-height: 18px;
  }
}
