toggle-switch {
  --switch-handle-color: #fff;
  --switch-handle-shape: 9999px;
  --switch-track-color: #9397b0;
  --switch-track-shape: 9999px;
  --switch-selected-handle-color: #fff;
  --switch-selected-track-color: #10b981;

  font-size: 1.2em;
  height: 1.2em;

  &::part(slider) {
    border-radius: var(--switch-track-shape);
    background-color: var(--switch-handle-color);
    box-shadow: 0.0625em 0.0625em 0.125em hsla(0, 0%, 0%, 0.25);
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &[checked]::part(slider) {
    background-color: var(--switch-selected-handle-color);
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &::part(track) {
    padding: 0.125em;
    border-radius: var(--switch-handle-shape);
    background-color: var(--switch-track-color);
  }

  &[checked]::part(track) {
    background-color: var(--switch-selected-track-color);
  }
}
