@use '../../scss/theme';
@use '../../scss/states';
@use '../../scss/tokens/ref-typeface';

:host,
* {
  box-sizing: border-box;
}

:host {
  --_size-large: calc(16 / 14 * 1em);
  --_size-small: calc(13 / 16 * 1em);
  --_leading-space: 0.5em;

  --bib-comp-retroaction-usager-size: var(--md-sys-typescale-body-small-size, inherit);

  display: inline-block;
  font-size: var(--bib-comp-retroaction-usager-size);
}

p {
  margin: 0;
}

textarea,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: var(--_leading-space) var(--_leading-space);
}

.survey-title {
  margin-bottom: var(--_size-large);
  font-weight: 450;
}

.radio-group {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.btn-vote {
  --md-outlined-icon-button-container-height: var(--_icon-btn-size);
  --md-outlined-icon-button-container-width: var(--_icon-btn-size);
  --md-outlined-icon-button-selected-container-color: var(--md-sys-color-surface-tint);
  --md-outlined-icon-button-outline-width: 0;
}

.form-group {
  margin: 1em 0;

  .label {
    display: flex;
    margin-bottom: calc(1em * 0.325);

    :first-child {
      flex-grow: 1;
    }
  }
}

.form-group-submit {
  margin-block-start: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
}

.privacy-link {
  text-decoration: underline;
  font-size: var(--_size-small);
}

.width-full {
  width: 100%;
}

.write-us {
  color: #3d4248;
  font-size: var(--_size-small);
}

.btn {
  font-family: inherit;

  &-submit {
    &:not(disabled) {
      .progress {
        display: none;
      }
    }

    span {
      display: inline-flex;
      gap: 0.5em;
      align-items: center;
    }
  }
}

.progress {
  --md-circular-progress-size: 20px;
  --md-circular-progress-active-indicator-width: 16;
}
